body{
    font-family:'Poppins',sans-serif;
    margin: 1px;
}
h1{
    font-weight: 700;
    font-size: 45px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.link-button{
    background-image: linear-gradient(orange,tomato);
    padding: 12px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.background-img{
    background-image:url(images/shapes/7.png);
    margin-bottom: 100px;
    

}
footer p{
    text-align: center;
    color: white;
    
}
#footer-ad{
    background-color: black;
    border-radius: 7px;
}
.recipi-item{
    box-shadow: 10px 10px 20px rgb(90, 79, 79);
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5px;
    border-radius: 10px;
}
.recipi-header{
    text-align: center;
    margin-bottom: 200px;
}
.recipies-area img{
    border-radius: 10px;

}
p{
    font-size: 20px;
}
h3{
    font-size:24px ;
    font-weight: 600;
}
.food-delivery{
    color: honeydew;
    background-color: rgb(151, 79, 27);
    border-radius: 25px;
    padding-right: 5px;
    padding-left: 5px;
    box-shadow: 15px 15px 30px orange;
    
    margin: 20px;
}
.blue-color{
    color: slateblue;
}
h2{
    margin-left:2%;
}

